
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    font-family: 'Noto Sans JP', sans-seriff;
    background-color: #5698e2;
    color: #353839;
    background-image: url("/img/arches.png");
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}
main {
    flex: 1 0 auto;
}
nav {
    width: 100%;
    height: 2.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.7rem;
}
nav a {
    color: #353839;
    text-decoration: none;
}
.nav-heading {
    flex-grow: 3;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}
.logo {
    height: 2.5rem;
}
header {
    margin: 1rem auto;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: white;
}
header h1 {
    margin-bottom: 1rem;
}
footer {
    background-color: white;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    flex-shrink: 0;
    margin-top: 2rem;
}
.link-button-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    color: #353839;
    box-shadow: 0 5px 0 #353839;
    text-decoration: none;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}
.link-button-style:hover {
    background-color: #666fff;
}
.link-button-style:active {
    box-shadow: none;
    top: 5px;
    left: 2px;
}
.link-button-style img {
    width: 8rem;
    background-color: #45885f;
    border-radius: 50%;
    border: 4px solid #353839;
    margin-top: 1rem;
}
#flashcard-board, #test-container {
    width: fit-content;
    margin: 0 auto;
}
.generic-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.option-button {
    background-color: white;
    border: none;
    width: 100%;
    padding: 1rem;
    color: #353839;
    position: relative;
    font-size: 1.5rem;
}
.option-button:nth-child(1) {
    background-color: rgb(180, 224, 180);
}
.option-button:nth-child(2) {
    background-color: rgb(158, 198, 224);
}
.option-button:nth-child(3) {
    background-color: rgb(116, 141, 116);
}
.option-button:hover {
    background-color: rgb(250, 75, 75);
    cursor: pointer;
}
.hiragana-options, .katakana-options {
    margin-bottom: 1rem;
}
.flashcard {
    background-color: rgb(231, 220, 220);
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: card;
    margin: 0 auto;
}
.flashcard:hover {
    cursor: pointer;
}
.flashcard p {
    font-size: 3rem;
}
#flashcard-board {
    display: none;
    grid-template-areas: "restart shuffle" "card card" "previous next";
    background-color: white;
}
#restart-button-flashcard {
    grid-area: restart;
}
#shuffle-button-flashcard {
    grid-area: shuffle;
}
#next-button-flashcard {
    grid-area: next;
}
#previous-button-flashcard {
    grid-area: previous;
}
.flashcard-button {
    border: none;
    padding: 1rem 0.1rem;
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    background-color: rgb(233, 198, 101);
}
#question-container {
    width: 100%;
    background-color: white;
    display: none;
    grid-template-areas:
    "status score score restart" 
    "question question question question" 
    "answer1 answer1 answer2 answer2" 
    "answer3 answer3 answer4 answer4";
    grid-template-columns: 25% 25% 25% 25%;
}
#restart-button-test {
    grid-area: restart;
    background-color: rgb(233, 129, 129);
    margin-right: 0.5rem;
}
#test-question {
    grid-area: question;
    font-size: 3rem;
    margin: 2rem auto;
    font-weight: bold;
    background-color: white;
    border: 1rem solid #5698e2;
    border-radius: 50%;
    padding: 1rem 2rem;
}
.answer-button {
    padding: 1rem 0;
    font-size: 1.5rem;
    margin: 0.4rem;
    border: none;
    background-color: rgb(233, 198, 101);
    font-weight: bold;
}
.answer-button:hover {
    cursor: pointer;
    background-color: rgb(201, 171, 89);
}
#answer1 {grid-area: answer1;}
#answer2 {grid-area: answer2;}
#answer3 {grid-area: answer3;}
#answer4 {grid-area: answer4;}
#score-status {
    grid-area: score;
    margin: 1rem 1rem 0 1rem;
    text-align: center;
    font-size: 1.5rem;
}
#answer-status {
    grid-area: status;
    margin: 1rem 1rem 0 1rem;
    font-size: 1.5rem;
}
#score-screen {
    display: none;
    background-color: white;
    margin: 0 auto;
    width: max-content;
    padding: 4rem;
}
#score-screen p {
    font-size: 1.5rem;
}
#score-screen button {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0.4rem;
    border: none;
    background-color: rgb(233, 198, 101);
    font-weight: bold;
}
.about-frog {
    width: 50%;
    background-color: white;
    border-radius: 50%;
    padding: 1rem;
    margin: 0 auto;
    display: block;
}
/* Chart page styling */
.kana-chart {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 1.3rem;
    margin: 1rem auto;
    outline: 5px solid black;
}
.kana-chart td, th {
    border: 1px solid black;
    padding: 1rem;
}
.kana-chart caption {
    background-color: white;
    padding: 1rem;
}
@media only screen and (min-width: 570px) {
    .generic-container {
        width: 34rem;
        margin: 1rem auto;
    }
    #flashcard-board, #test-container {
        width: 30rem;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 840px) {
    .table-container {
        display: flex;
        flex-wrap: wrap;
    }
}