
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans JP', sans-seriff;
    background-color: #429aff;
    color: #353839;
}
nav {
    width: 100%;
    height: 2.5rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.7rem;
}
nav a {
    color: #353839;
    text-decoration: none;
}
.nav-heading {
    flex-grow: 3;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Kalam', cursive;
}
.logo {
    height: 2.5rem;
}
header {
    margin: 1rem auto;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background-color: white;
}
header h1 {
    margin-bottom: 1rem;
}
footer {
    background-color: white;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
}
.link-button-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    color: #353839;
    box-shadow: 0 5px 0 #353839;
    text-decoration: none;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}
.link-button-style:hover {
    background-color: #666fff;
}
.link-button-style:active {
    box-shadow: none;
    top: 5px;
    left: 2px;
}
.link-button-style img {
    width: 8rem;
    background-color: #45885f;
    border-radius: 50%;
    border: 4px solid #353839;
    margin-top: 1rem;
}
.generic-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.option-button {
    background-color: #444fff;
    border: none;
    box-shadow: 2px 5px 0 #000fff;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    color: white;
    position: relative;
}
.option-button:hover {
    cursor: pointer;
    background-color: #666fff;
}
.option-button:active {
    box-shadow: none;
    top: 5px;
    left: 2px;
}
.flashcard {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    height: 12rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    grid-area: card;
    margin: 0 auto;
}
.flashcard:hover {
    cursor: pointer;
}
.flashcard p {
    font-size: 2rem;
}
#flashcard-board {
    display: none;
    grid-template-areas: "toggle shuffle" "card card" "previous next";
}
#hide-button-flashcard {
    grid-area: toggle;
}
#shuffle-button-flashcard {
    grid-area: shuffle;
}
#next-button-flashcard {
    grid-area: next;
}
#previous-button-flashcard {
    grid-area: previous;
}
.flashcard-button {
    border: none;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
}
#question-container {
    width: 100%;
    background-color: #aaaaaa;
    display: none;
    grid-template-areas:
    "status score" 
    "question question" 
    "answer1 answer2" 
    "answer3 answer4";
    grid-template-columns: 50% 50%;
}
#test-question {
    grid-area: question;
    font-size: 3rem;
    margin: 2rem auto;
    font-weight: bold;
}
.answer-button {
    padding: 1rem 0;
    font-size: 1.5rem;
    margin: 0.4rem;
    border: none;
    background-color: #444fff;
    color: white;
    font-weight: bold;
}
#answer1 {grid-area: answer1;}
#answer2 {grid-area: answer2;}
#answer3 {grid-area: answer3;}
#answer4 {grid-area: answer4;}
#score-status {
    grid-area: score;
    margin: 1rem 1rem 0 1rem
}
#answer-status {
    grid-area: status;
    margin: 1rem 1rem 0 1rem;
}
#score-screen {
    display: none;
}
.about-frog {
    width: 50%;
}
/* Chart page styling */
.kana-chart {
    background-color: white;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 1.3rem;
    margin: 1rem auto;
    outline: 5px solid black;
}
.kana-chart td, th {
    border: 1px solid black;
    padding: 1rem;
}
.kana-chart caption {
    background-color: white;
    padding: 1rem;
}
@media only screen and (min-width: 570px) {
    .generic-container {
        width: 34rem;
        margin: 1rem auto;
    }
}
@media only screen and (min-width: 840px) {
    .table-container {
        display: flex;
        flex-wrap: wrap;
    }
}